
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


body{
	background-image: url("../Images/AGOT2b.jpg") ;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.navigation{
	position: fixed;
	top: 0px;
	background-color: #210120;
	text-align: center;
	width: 100%;
}

.tabs{
	display: inline-flex;
	list-style: none;
	color: white;
}

.tabs-tab{
	width: 200px;
	margin: 25px;
    padding: 15px;
}

.tabs-tab a{
	text-decoration: none;
	color: white;
}

.tabs-tab:hover{
    background-color: #91308E;
    border-radius: 15px;
}

.sub-menu{
	display: none;
}

.tabs-tab:hover .sub-menu{
	display: block;
	position: absolute;
	background-color: #210120;
	margin-left: -15px;
	margin-top: 15px;
}

.tabs-tab:hover .sub-menu .tabs{
	display: block;
	margin: 10px;
}

.tabs-tab:hover .sub-menu .tabs .tabs-tab{
	width: 200px;
	padding: 10px;
	border-bottom: 1px dotted white;
	background: transparent;
	border-radius: 0px;
	text-align: left;
}

.tabs-tab:hover .sub-menu .tabs .tabs-tab a:hover{
    color: #91308E;
}

.fa-angle-right{
	float: right;
}

.sub-menu-2{
	display: none;
}

.sub-menu .tabs .tabs-tab:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 200px;
    background-color: #210120;
}

#heading{
	font-family: 'Uncial Antiqua', cursive;
	text-align: center;
	font-size: 50px;
    padding: 30px;
    width: 50%;
    margin: 80px auto;
    margin-bottom: 0px;
    color: #008b8b;
    text-decoration: underline;
}

#information{
	font-family: 'Open Sans', sans-serif;
	padding: 40px;
    border: 2px solid grey;
    margin: 80px auto;
    margin-top: 30px;
    width: 50%;
    background-color: #E2CECE;
}

.heading2{
	margin-top: 50px;
	margin-bottom: 10px;
	border-bottom: 2px solid #9aa5b8;
}

p{
	margin-bottom: 16px;
	margin-top: 16px;
}

.list{
	margin-left: 15px;
}

footer{
	display: block;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.733);
	text-align: center;
}

.bottom-title{
	padding: 10px 0px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 2px;
	color: white;
}

.social-media-links{
	padding: 0px;
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px auto;
	justify-content: center;
	margin-top: 20px;
	padding-bottom: 20px;
}

.sv{
	width: 45px;
	height: 45px;
	margin: auto 10px;
}

footer a{
	font-size: 30px;
	color: white;
}

footer input{
	position: relative;
	right: 450px;
	top: 90px;
	font-size: 14px;
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding:  8px 12px;

}